* {
    margin: 0;
    padding: 0;
}

canvas {
    width: 85%;
    height: 85%;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

p {
    margin-right: 10px;
}

#motherDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    background-image: url("nehmole.png");
    background-repeat: round;
}